## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis=1)

In [3]:
# Determine the number of unique values in each column.
print(application_df.nunique())

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
print(application_df['APPLICATION_TYPE'].value_counts())

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff = 1000
application_counts = application_df['APPLICATION_TYPE'].value_counts()
application_types_to_replace = list(application_counts[application_counts < cutoff].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at Affiliation value counts for binning
print(application_df['AFFILIATION'].value_counts())

Independent         18480
CompanySponsored    15705
Family/Parent          64
National               33
Regional               13
Other                   4
Name: AFFILIATION, dtype: int64

In [7]:
# Group low-frequency AFFILIATION categories
low_freq_categories = ['Family/Parent', 'National', 'Regional', 'Other']
application_df['AFFILIATION'] = application_df['AFFILIATION'].apply(lambda x: 'Other' if x in low_freq_categories else x)

# Check the new value counts
print(application_df['AFFILIATION'].value_counts())

Independent         18480
CompanySponsored    15705
Other                 114
Name: AFFILIATION, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
print(application_df['CLASSIFICATION'].value_counts())

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1580        1
C4200        1
C3700        1
C1820        1
C1283        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts[classification_counts > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C1720        6
C4100        6
C2400        6
C1257        5
C1600        5
C0           3
C2710        3
C1260        3
C1267        2
C3200        2
C1246        2
C1256        2
C1234        2
Name: CLASSIFICATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff = 1000
classification_counts = application_df['CLASSIFICATION'].value_counts()
classifications_to_replace = list(classification_counts[classification_counts < cutoff].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [11]:
# Look at USE_CASE
print(application_df['USE_CASE'].value_counts())

Preservation     28095
ProductDev        5671
CommunityServ      384
Heathcare          146
Other                3
Name: USE_CASE, dtype: int64

In [12]:
# Group low-frequency USE_CASE categories
low_freq_categories = ['CommunityServ', 'Heathcare', 'Other']
application_df['USE_CASE'] = application_df['USE_CASE'].apply(lambda x: 'Other' if x in low_freq_categories else x)

# Check the new value counts
print(application_df['USE_CASE'].value_counts())

Preservation    28095
ProductDev       5671
Other             533
Name: USE_CASE, dtype: int64

In [13]:
# Look at ORGANIZATION
print(application_df['ORGANIZATION'].value_counts())

Trust           23515
Association     10255
Co-operative      486
Corporation        43
Name: ORGANIZATION, dtype: int64

In [14]:
# Group low-frequency ORGANIZATION categories
low_freq_categories = ['Co-operative', 'Corporation']
application_df['ORGANIZATION'] = application_df['ORGANIZATION'].apply(lambda x: 'Other' if x in low_freq_categories else x)

# Check the new value counts
print(application_df['ORGANIZATION'].value_counts())

Trust          23515
Association    10255
Other            529
Name: ORGANIZATION, dtype: int64

In [15]:
# Look at status value counts
print(application_df['STATUS'].value_counts())

1    34294
0        5
Name: STATUS, dtype: int64

In [16]:
# Calculate the correlation between STATUS and IS_SUCCESSFUL
corr = application_df[["STATUS", "IS_SUCCESSFUL"]].corr()

# Print the correlation matrix
print(corr)

                 STATUS  IS_SUCCESSFUL
STATUS         1.000000      -0.001636
IS_SUCCESSFUL -0.001636       1.000000

In [17]:
# Drop the STATUS Column
application_df = application_df.drop(['STATUS'], axis=1)

In [18]:
# Look at INCOME_AMT value counts for binning
print(application_df['INCOME_AMT'].value_counts())

0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
10000-24999        543
10M-50M            240
5M-10M             185
50M+               139
Name: INCOME_AMT, dtype: int64

In [19]:
# Convert the INCOME_AMT column to a categorical variable
income_categories = ['0', '1M-5M', '100000-499999', '10M-50M', '25000-99999', '5M-10M', '10000-24999', '50M+']
application_df['INCOME_AMT'] = pd.Categorical(application_df['INCOME_AMT'], categories=income_categories, ordered=True)
# Replace missing values with the mode
income_mode = application_df['INCOME_AMT'].mode()[0]
application_df['INCOME_AMT'].replace(['1/01/9999'], income_mode, inplace=True)
# One-hot encode the INCOME_AMT column
income_dummies = pd.get_dummies(application_df['INCOME_AMT'], prefix='INCOME')
application_df = pd.concat([application_df, income_dummies], axis=1)

# Drop the original INCOME_AMT column
application_df.drop(['INCOME_AMT'], axis=1, inplace=True)

In [20]:
# Check the value counts of the new columns
print(application_df.filter(regex='^INCOME_').sum())

INCOME_0                24388
INCOME_1M-5M              955
INCOME_100000-499999     3374
INCOME_10M-50M            240
INCOME_25000-99999       3747
INCOME_5M-10M             185
INCOME_10000-24999        543
INCOME_50M+               139
dtype: int64

In [21]:
# Check the SPECIAL_CONSIDERATIONS
print(application_df['SPECIAL_CONSIDERATIONS'].value_counts())

N    34272
Y       27
Name: SPECIAL_CONSIDERATIONS, dtype: int64

In [22]:
# Convert 'Y' to 1 and everything else to 0
application_df['SPECIAL_CONSIDERATIONS'] = application_df['SPECIAL_CONSIDERATIONS'].apply(lambda x: 1 if x == 'Y' else 0)

# Calculate the correlation coefficient
corr = application_df['IS_SUCCESSFUL'].corr(application_df['SPECIAL_CONSIDERATIONS'])

# Print the correlation coefficient
print(corr)

0.005469242791038586

In [23]:
# Drop the SPECIAL_CONSIDERATIONS Column
application_df = application_df.drop(['SPECIAL_CONSIDERATIONS'], axis=1)

In [24]:
# Look at ASK_AMT value counts for binning
print(application_df['ASK_AMT'].value_counts())

5000       25398
10478          3
15583          3
6725           3
63981          3
           ...
772556         1
70103          1
27096          1
25049          1
1138700        1
Name: ASK_AMT, Length: 8747, dtype: int64

In [25]:
from sklearn.preprocessing import MinMaxScaler

# Initialize the MinMaxScaler
scaler = MinMaxScaler()

# Reshape the feature to a 2D array and fit the scaler to the data
ask_amt = application_df["ASK_AMT"].values.reshape(-1, 1)
scaler.fit(ask_amt)

# Transform the feature using the scaler
scaled_ask_amt = scaler.transform(ask_amt)

# Replace the original feature in the DataFrame with the scaled feature
application_df["ASK_AMT"] = scaled_ask_amt

# View the updated DataFrame with the scaled feature
print(application_df.head())

  APPLICATION_TYPE       AFFILIATION CLASSIFICATION      USE_CASE  \
0            Other       Independent          C1000    ProductDev
1               T3       Independent          C2000  Preservation
2               T5  CompanySponsored          C3000    ProductDev
3               T3  CompanySponsored          C2000  Preservation
4               T3       Independent          C1000         Other

  ORGANIZATION       ASK_AMT  IS_SUCCESSFUL  INCOME_0  INCOME_1M-5M  \
0  Association  0.000000e+00              1         1             0
1        Other  1.204843e-05              1         0             0
2  Association  0.000000e+00              0         1             0
3        Trust  1.967945e-07              1         0             0
4        Trust  1.600293e-05              1         0             0

   INCOME_100000-499999  INCOME_10M-50M  INCOME_25000-99999  INCOME_5M-10M  \
0                     0               0                   0              0
1                     0               0                   0              0
2                     0               0                   0              0
3                     0               0                   0              0
4                     1               0                   0              0

   INCOME_10000-24999  INCOME_50M+
0                   0            0
1                   0            0
2                   0            0
3                   1            0
4                   0            0

In [26]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df, columns=['AFFILIATION','CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'APPLICATION_TYPE'])
application_df.head()

,ASK_AMT,IS_SUCCESSFUL,INCOME_0,INCOME_1M-5M,INCOME_100000-499999,INCOME_10M-50M,INCOME_25000-99999,INCOME_5M-10M,INCOME_10000-24999,INCOME_50M+,...,USE_CASE_ProductDev,ORGANIZATION_Association,ORGANIZATION_Other,ORGANIZATION_Trust,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6
0,0.000000e+00,1,1,0,0,0,0,0,0,0,...,1,1,0,0,1,0,0,0,0,0
1,1.204843e-05,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
2,0.000000e+00,0,1,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,1,0
3,1.967945e-07,1,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,1,0,0,0
4,1.600293e-05,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0

In [27]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
X = application_df.drop('IS_SUCCESSFUL', axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [28]:
# Create a StandardScaler instances
scaler = StandardScaler()
# Fit the StandardScaler
X_scaler = scaler.fit(X_train)
# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [29]:
# Define the model - deep neural net
nn = tf.keras.models.Sequential()

# Add input layer
nn.add(tf.keras.layers.Dense(units=30, input_dim=30, activation="relu"))

# Add hidden layers with dropout regularization
nn.add(tf.keras.layers.Dense(units=50, activation="tanh"))
nn.add(tf.keras.layers.Dropout(0.3))
nn.add(tf.keras.layers.Dense(units=25, activation="relu"))
nn.add(tf.keras.layers.Dropout(0.2))

# Add output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="RMSprop", metrics=["accuracy"])

# Train the model
batch_size = 64
epochs = 50
nn.fit(X_train_scaled, y_train, batch_size=batch_size, epochs=epochs, verbose=1)

# Evaluate the model
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/50
402/402 [==============================] - 1s 1ms/step - loss: 0.5940 - accuracy: 0.7034
Epoch 2/50
402/402 [==============================] - 1s 1ms/step - loss: 0.5700 - accuracy: 0.7267
Epoch 3/50
402/402 [==============================] - 1s 2ms/step - loss: 0.5662 - accuracy: 0.7292
Epoch 4/50
402/402 [==============================] - 1s 2ms/step - loss: 0.5646 - accuracy: 0.7294
Epoch 5/50
402/402 [==============================] - 1s 2ms/step - loss: 0.5643 - accuracy: 0.7295
Epoch 6/50
402/402 [==============================] - 1s 1ms/step - loss: 0.5616 - accuracy: 0.7312
Epoch 7/50
402/402 [==============================] - 1s 1ms/step - loss: 0.5605 - accuracy: 0.7305
Epoch 8/50
402/402 [==============================] - 1s 1ms/step - loss: 0.5598 - accuracy: 0.7308
Epoch 9/50
402/402 [==============================] - 1s 1ms/step - loss: 0.5601 - accuracy: 0.7303
Epoch 10/50
402/402 [==============================] - 1s 1ms/step - loss: 0.5588 - accuracy: 0.7318
Epoch 11/50
402/402 [==============================] - 0s 1ms/step - loss: 0.5594 - accuracy: 0.7314
Epoch 12/50
402/402 [==============================] - 0s 1ms/step - loss: 0.5589 - accuracy: 0.7311
Epoch 13/50
402/402 [==============================] - 0s 1ms/step - loss: 0.5580 - accuracy: 0.7325
Epoch 14/50
402/402 [==============================] - 1s 2ms/step - loss: 0.5576 - accuracy: 0.7317
Epoch 15/50
402/402 [==============================] - 1s 1ms/step - loss: 0.5577 - accuracy: 0.7327
Epoch 16/50
402/402 [==============================] - 1s 1ms/step - loss: 0.5562 - accuracy: 0.7309
Epoch 17/50
402/402 [==============================] - 1s 1ms/step - loss: 0.5564 - accuracy: 0.7329
Epoch 18/50
402/402 [==============================] - 1s 1ms/step - loss: 0.5562 - accuracy: 0.7325
Epoch 19/50
402/402 [==============================] - 1s 1ms/step - loss: 0.5570 - accuracy: 0.7333
Epoch 20/50
402/402 [==============================] - 1s 1ms/step - loss: 0.5567 - accuracy: 0.7328
Epoch 21/50
402/402 [==============================] - 1s 1ms/step - loss: 0.5557 - accuracy: 0.7324
Epoch 22/50
402/402 [==============================] - 1s 1ms/step - loss: 0.5565 - accuracy: 0.7337
Epoch 23/50
402/402 [==============================] - 1s 1ms/step - loss: 0.5567 - accuracy: 0.7324
Epoch 24/50
402/402 [==============================] - 1s 1ms/step - loss: 0.5555 - accuracy: 0.7338
Epoch 25/50
402/402 [==============================] - 1s 1ms/step - loss: 0.5558 - accuracy: 0.7333
Epoch 26/50
402/402 [==============================] - 1s 1ms/step - loss: 0.5560 - accuracy: 0.7338
Epoch 27/50
402/402 [==============================] - 1s 1ms/step - loss: 0.5565 - accuracy: 0.7338
Epoch 28/50
402/402 [==============================] - 1s 1ms/step - loss: 0.5555 - accuracy: 0.7329
Epoch 29/50
402/402 [==============================] - 1s 1ms/step - loss: 0.5544 - accuracy: 0.7338
Epoch 30/50
402/402 [==============================] - 1s 1ms/step - loss: 0.5538 - accuracy: 0.7342
Epoch 31/50
402/402 [==============================] - 1s 1ms/step - loss: 0.5548 - accuracy: 0.7343
Epoch 32/50
402/402 [==============================] - 1s 1ms/step - loss: 0.5541 - accuracy: 0.7333
Epoch 33/50
402/402 [==============================] - 1s 1ms/step - loss: 0.5556 - accuracy: 0.7329
Epoch 34/50
402/402 [==============================] - 1s 1ms/step - loss: 0.5555 - accuracy: 0.7337
Epoch 35/50
402/402 [==============================] - 1s 1ms/step - loss: 0.5546 - accuracy: 0.7345
Epoch 36/50
402/402 [==============================] - 1s 1ms/step - loss: 0.5541 - accuracy: 0.7346
Epoch 37/50
402/402 [==============================] - 1s 1ms/step - loss: 0.5555 - accuracy: 0.7336
Epoch 38/50
402/402 [==============================] - 1s 1ms/step - loss: 0.5549 - accuracy: 0.7345
Epoch 39/50
402/402 [==============================] - 1s 1ms/step - loss: 0.5540 - accuracy: 0.7346
Epoch 40/50
402/402 [==============================] - 1s 1ms/step - loss: 0.5545 - accuracy: 0.7328
Epoch 41/50
402/402 [==============================] - 1s 1ms/step - loss: 0.5535 - accuracy: 0.7343
Epoch 42/50
402/402 [==============================] - 1s 1ms/step - loss: 0.5531 - accuracy: 0.7351
Epoch 43/50
402/402 [==============================] - 1s 1ms/step - loss: 0.5542 - accuracy: 0.7343
Epoch 44/50
402/402 [==============================] - 1s 1ms/step - loss: 0.5521 - accuracy: 0.7348
Epoch 45/50
402/402 [==============================] - 1s 1ms/step - loss: 0.5526 - accuracy: 0.7340
Epoch 46/50
402/402 [==============================] - 1s 1ms/step - loss: 0.5536 - accuracy: 0.7341
Epoch 47/50
402/402 [==============================] - 1s 1ms/step - loss: 0.5542 - accuracy: 0.7334
Epoch 48/50
402/402 [==============================] - 1s 1ms/step - loss: 0.5540 - accuracy: 0.7349
Epoch 49/50
402/402 [==============================] - 1s 1ms/step - loss: 0.5537 - accuracy: 0.7334
Epoch 50/50
402/402 [==============================] - 1s 1ms/step - loss: 0.5536 - accuracy: 0.7347
268/268 - 0s - loss: 0.5574 - accuracy: 0.7254 - 299ms/epoch - 1ms/step
Loss: 0.5573567748069763, Accuracy: 0.7253644466400146

In [30]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5574 - accuracy: 0.7254 - 212ms/epoch - 791us/step
Loss: 0.5573567748069763, Accuracy: 0.7253644466400146

In [31]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")

In [33]:
from sklearn.model_selection import GridSearchCV
from scikeras.wrappers import KerasClassifier, KerasRegressor

# Define the model as a function
def create_model(optimizer='adam', dropout_rate=0.2):
    # Create the model
    model = tf.keras.models.Sequential()
    model.add(tf.keras.layers.Dense(units=30, input_dim=30, activation='relu'))
    model.add(tf.keras.layers.Dense(units=25, activation='sigmoid'))
    model.add(tf.keras.layers.Dropout(dropout_rate))
    model.add(tf.keras.layers.Dense(units=15, activation='sigmoid'))
    model.add(tf.keras.layers.Dropout(dropout_rate))
    model.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))
    # Compile the model
    model.compile(loss='binary_crossentropy', optimizer=optimizer, metrics=['accuracy'])
    return model

# Create the model
model = KerasClassifier(build_fn=create_model, verbose=0)

# Define the hyperparameters to search
param_grid = {
    'optimizer': ['adam', 'rmsprop'],
    'dropout_rate': [0.2, 0.3, 0.4]
}

# Perform a grid search
grid = GridSearchCV(estimator=model, param_grid=param_grid, cv=3)
grid_result = grid.fit(X_train_scaled, y_train)

# Print the results
print("Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_))

ValueError: Invalid parameter dropout_rate for estimator KerasClassifier.
This issue can likely be resolved by setting this parameter in the KerasClassifier constructor:
`KerasClassifier(dropout_rate=0.2)`
Check the list of available parameters with `estimator.get_params().keys()`